.app__header {
  height: 114px;
  margin: 0 0 70px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.app__header>span {
  height: 28px;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.app__button-all{
  width: 98px;
  height: 31px;
  padding: 3px 39px 0 40px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}

.app__button-my-faves{
  width: 98px;
  height: 31px;
  padding: 3px 16px 0 17px;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
}

.app__news{
  display: flex;
  justify-content: center;
}

.app__news > div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 20px 50px;
  padding: 0 20px;
  margin: 20px 0px;
}

@media screen and (max-width: 1280px) {
  .app__header {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .app__header {
    padding-left: 30px;
  }
  .app__news > div{
    gap: 20px 20px;
  }
}

@media screen and (max-width: 768px) {
  .app__header {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .app__news{
    display: block;
  }

  .app__news > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}